* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("CLbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.icon {
    display: block;
    height: 300px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.bottomBanner {
    text-align: center;
}

.bottomBanner h3 {
    display: inline-block;    
}
.startButton {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 150px;
    height:75px;
    font-size: 28px; 
}

#quizSection {
    display: none;
    height: 600px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#questionText {
    padding-top: 35px;
    text-align: center;
}

#quizForm fieldset {
    border: 0px;
}

#quizForm ul {
    list-style-type: none;
}

#js-submit-button {
    display: block; 
    margin: 0 auto;
}

#checkingSection {
    display: none;
    height: 300px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    text-align: center;
    color: white;
}

#totalScoreSection {
    display: none;
    height: 300px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    text-align: center;
    color: white;
}